body{
  font-family: helvetica, sans-serif;
}

//not shure if the following three lines are really necessary
h1, h2, h3{
  font-weight: bold;
}

h1{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  color: Khaki;
  font-size: 100px;
  text-align: center;
}

h2{
  color: white;
  font-size: 32px;
}

span{
  color: blue;
  font-weight: bold;
}

#brushes {
  background-color: MediumSpringGreen;
}

#frames {
  background-color: LightCoral;
}

#paint {
  background-color: SkyBlue;
}
